<div class="row">
    {{#each courses}}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="/courses/{{slug}}">
                <img src="https://img.youtube.com/vi/{{videoId}}/sddefault.jpg" class="card-img-top" alt="{{name}}">
            </a>
            <div class="card-body">
                <a href="/courses/{{slug}}">
                    <h5 class="card-title">{{name}}</h5>
                </a>
                <p class="card-text">{{destription}}</p>
                <a href="#" class="btn btn-primary">Miễn phí</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>